a {
    color: #0366D6;
}

.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#header .social-networks {
    border-radius: 0;
}

#header .heading {
    padding: 2rem 0;
}

#content {
    flex: 1;
    margin: 2rem 0;
    text-align: justify;
}

.ui.progress .bar {
    width: 85%;
}

/* Utils */
.red {
    color: #ec040c
}