{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title|striptags }}{% endblock %}

{% block extra_head %}
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(page) %}
  {{ translations.entry_hreflang(page) }}
{% endif %}
{% endblock %}

{% block content %}
<article class="bg-white rounded-lg shadow-sm overflow-hidden">
  <div class="p-6 md:p-8">
    <header class="mb-8 text-center">
      <h1 class="text-3xl font-bold text-gray-900">{{ page.title }}</h1>
      {% import 'translations.html' as translations with context %}
      {{ translations.translations_for(page) }}
    </header>
    
    <div class="prose prose-lg max-w-none mx-auto">
      {{ page.content }}
    </div>
  </div>
</article>
{% endblock %}
