.bordered {
    border: 1px solid black;
}

.right.aligned {
    text-align: right;
}

.left.aligned {
    text-align: left;
}

.center.aligned {
    text-align: center;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
}

.big {
    font-size: 1.8em;
}

.medium {
    font-size: 1em;
}

.small {
    font-size: .6em;
}

.machines {
    font-size: large;
    font-family: 'Press Start 2P', sans-serif;
}

/* Colors */

.purple {
    color: #814374;
}

.green {
    color: #51A39D;
}

.orange {
    color: #B7695C;
}

.beige {
    color: #CDBB79;
}

.white {
    color: #F2F2F2;
}

.blue {
    color: #06425C;
}

.black {
    color: #252525;
}